{% extends "manager-dashboard/base.html" %}
{% block content %}

<div class='border-line'></div>
<button onclick=showUnavailableRentalCars() 
    class="waves-effect waves-light green darken-1 btn"><i 
    class="fas fa-car-alt left"></i><i 
    class="fas fa-car left"></i>Unavailable</button>
<button onclick=carsAvailableForRent() 
    class="waves-effect waves-light green darken-1 btn"><i 
    class="fas fa-car-alt left"></i>Available for Rent</button>
<button onclick=archivedRentalCars() 
    class="waves-effect waves-light green darken-1 btn"><i 
    class="fas fa-archive left"></i>Archive</button>
{% if db_user.car_rent == "yes" %}
<button class="waves-effect waves-light green darken-1 btn"><a 
    class="add-car-btn" href="{{ url_for('add_car_for_rent') }}"><i 
    class="far fa-plus-square left"></i>Add New Car for Rent</a></button>
{% else %}
<button class="waves-effect waves-light green darken-1 btn disabled"><i 
    class="far fa-plus-square left"></i>Add New Car for Rent</button>
{% endif %}
<table class="list-table">
    <tr>
        <th class="tooltipped" data-position="down" data-tooltip="Internal ID number of car">Car ID</th>
        <th class="tooltipped" data-position="down" data-tooltip="Date of car being added to database">Since</th>
        <th class="tooltipped" data-position="down" data-tooltip="Make">Make</th>
        <th class="tooltipped" data-position="down" data-tooltip="Model">Model</th>
        <th class="tooltipped" data-position="down" data-tooltip="Year of first registration">Year</th>
        <th class="tooltipped" data-position="down" data-tooltip="Engine (1.6i/2.2TiD/1.5CRDi)">Engine</th>
        <th class="tooltipped" data-position="down" data-tooltip="Fuel Type (petrol/diesel/electric etc">Fuel type</th>
        <th class="tooltipped" data-position="down" data-tooltip="Milage Limit">Milage limit</th>
        <th class="tooltipped" data-position="down" data-tooltip="Rental Price">Price/24h</th>
        <th class="tooltipped" data-position="down" data-tooltip="View listing"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Edit listing"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Change availability"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Put item in archive"></th>
    </tr>
    {% for cfr in carsfr %}
        {% if cfr.available == "no" and cfr.archived == "no" %}
            <tr class="unavailable-rental-cars hidden">
                <td>{{ cfr.car_id }}</td>
                <td>{{ cfr.created }}</td>
                <td>{{ cfr.make }}</td>
                <td>{{ cfr.model}}</td>
                <td>{{ cfr.year }}</td>
                <td>{{ cfr.engine }}</td>
                <td>{{ cfr.fuel }}</td> 
                <td>{{ cfr.milage_limit }} km</td> 
                <td class="right">{{ cfr.price }} <i class="fas fa-euro-sign"></i></td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('rental_car_details', car_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 far fa-chart-bar"></i></a></button></td>
                {% if db_user.car_rent == "yes" %}
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('edit_car_for_rent', edit_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 fas fa-pen"></i></a></button>
                </td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('change_availability', rent_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 fas fa-check-circle"></i></a></button>
                </td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('rent_archive', rent_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 fas fa-archive"></i></a></button>
                </td>
                {% else %}
                <td><button class="list-item-btn disabled"><i 
                    class="grey-text text-darken-1 fas fa-pen"></i></button>
                </td>
                <td><button class="list-item-btn disabled"><i 
                    class="grey-text text-darken-1 fas fa-check-circle"></i></button>
                </td>
                <td><button class="list-item-btn disabled"><i 
                    class="grey-text text-darken-1 fas fa-archive"></i></button>
                </td>
                {% endif %}
            </tr>
        {% elif cfr.available == "yes" and cfr.archived == "no" %}
            <tr class="rental-cars">
                <td>{{ cfr.car_id }}</td>
                <td>{{ cfr.created }}</td>
                <td>{{ cfr.make }}</td>
                <td>{{ cfr.model}}</td>
                <td>{{ cfr.year }}</td>
                <td>{{ cfr.engine }}</td>
                <td>{{ cfr.fuel }}</td> 
                <td>{{ cfr.milage_limit }} km</td>
                <td class="right">{{ cfr.price }} <i class="fas fa-euro-sign"></i></td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('rental_car_details', car_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 far fa-chart-bar"></i></a></button></td>
                {% if db_user.car_rent == "yes" %}
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('edit_car_for_rent', edit_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 fas fa-pen"></i></a></button>
                </td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('change_availability', rent_id=cfr._id) }}"><i 
                    class="red-text text-darken-1 fas fa-minus-circle"></i></a></button>
                </td>
                {% else %}
                <td><button class="list-item-btn disabled"><i 
                    class="grey-text text-darken-1 fas fa-pen"></i></button>
                </td>
                <td><button class="list-item-btn disabled"><i 
                    class="grey-text text-darken-1 fas fa-minus-circle"></i></button>
                </td>
                {% endif %}
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-archive"></i></button>
                </td>
            </tr>
        {% elif cfr.archived == "yes" %}
            <tr class="rental-cars-archive hidden">
                <td>{{ cfr.car_id }}</td>
                <td>{{ cfr.created }}</td>
                <td>{{ cfr.make }}</td>
                <td>{{ cfr.model}}</td>
                <td>{{ cfr.year }}</td>
                <td>{{ cfr.engine }}</td>
                <td>{{ cfr.fuel }}</td> 
                <td>{{ cfr.milage_limit }} km</td>
                <td class="right">{{ cfr.price }} <i class="fas fa-euro-sign"></i></td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('rental_car_details', car_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 far fa-chart-bar"></i></a></button></td>
                {% if db_user.car_rent == "yes" %}
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('rent_archive', rent_id=cfr._id) }}"><i 
                    class="red-text text-darken-1 fas fas fa-archive"></i></a></button>
                </td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('delete_rental_car', rent_id=cfr._id) }}"><i 
                    class="green-text text-darken-1 far fa-trash-alt"></i></a></button>
                </td>
                {% else %}
                <td><button class="list-item-btn disabled"><i 
                    class="grey-text text-darken-1 fas fa-minus-circle"></i></button>
                </td>
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 far fa-trash-alt"></i></button>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <h3>No records found</h3>
        {% endif %}

    {% endfor %}


{% endblock %}