{% extends "manager-dashboard/base.html" %}
{% block content %}

<div class='border-line'></div>
<button onclick=showAllCars() 
    class="waves-effect waves-light green darken-1 btn"><i 
    class="fas fa-car-alt left"></i><i 
    class="fas fa-car left"></i> All cars</button>
<button onclick=carsInStock() 
    class="waves-effect waves-light green darken-1 btn"><i 
    class="fas fa-car-alt left"></i>Cars in Stock</button>
<button onclick=soldCars() 
    class="waves-effect waves-light green darken-1 btn"><i 
    class="fas fa-hand-holding-usd left"></i>Sold</button>
<button onclick=archivedCars() 
    class="waves-effect waves-light green darken-1 btn"><i 
    class="fas fa-archive left"></i>Archive</button>
{% if db_user.car_sales == "yes" %}
<button class="waves-effect waves-light green darken-1 btn"><a 
        class="add-car-btn" href="{{ url_for('add_car_for_sale') }}"><i 
        class="far fa-plus-square left"></i>Add New Car for Sale</a></button>
{% else %}
<button class="waves-effect waves-light green darken-1 btn disabled"><i 
        class="far fa-plus-square left"></i>Add New Car for Sale</button>
{% endif %}

<table class="list-table">
    <tr>
        <th class="tooltipped" data-position="down" data-tooltip="Internal ID number of car">Car ID</th>
        <th class="tooltipped" data-position="down" data-tooltip="Date of car being added to database">Since</th>
        <th class="tooltipped" data-position="down" data-tooltip="Make">Make</th>
        <th class="tooltipped" data-position="down" data-tooltip="Model">Model</th>
        <th class="tooltipped" data-position="down" data-tooltip="Year of first registration">Year</th>
        <th class="tooltipped" data-position="down" data-tooltip="Engine (1.6i/2.2TiD/1.5CRDi)">Engine</th>
        <th class="tooltipped" data-position="down" data-tooltip="Fuel Type (petrol/diesel/electric etc">Fuel type</th>
        <th class="tooltipped" data-position="down" data-tooltip="APK (if not - x )">APK</th>
        <th class="tooltipped" data-position="down" data-tooltip="Odometer reading">Milage</th>
        <th class="tooltipped" data-position="down" data-tooltip="Sales Price">Price</th>
        <th class="tooltipped" data-position="down" data-tooltip="View listing"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Edit listing"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Mark as sold"></th>
        <th class="tooltipped" data-position="down" data-tooltip="Put item in archive"></th>
    </tr>
    {% for cfs in carsfs %}
        {% if cfs.active == "yes" %}
            <tr class="all-cars hidden">
                <td>{{ cfs.car_id }}</td>
                <td>{{ cfs.created }}</td>
                <td>{{ cfs.make }}</td>
                <td>{{ cfs.model}}</td>
                <td>{{ cfs.year }}</td>
                <td>{{ cfs.engine }}</td>
                <td>{{ cfs.fuel }}</td>
                {% if cfs.apk != "no" %}
                    <td>{{ cfs.apk }}</td>
                {% else %}
                    <td><i class="red-text fas fa-times"></i></td>
                {% endif %} 
                <td>{{ cfs.milage }} km</td>
                <td class="right">{{ cfs.price }} <i class="fas fa-euro-sign"></i></td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('car_details', car_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 far fa-chart-bar"></i></a></button></td>
                {% if cfs.sold == "no" %}
                    {% if db_user.car_sales == "yes" %}
                    <td><button class="list-item-btn"><a 
                        href="{{ url_for('edit_car_for_sale', edit_id=cfs._id) }}"><i 
                        class="green-text text-darken-1 fas fa-pen"></i></a></button>
                    </td>
                    <td><button class="list-item-btn"><a 
                        href="{{ url_for('mark_as_sold', car_id=cfs._id) }}"><i 
                        class="green-text text-darken-1 fas fa-hand-holding-usd"></i></a></button>
                    </td>
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 disabled fas fa-archive"></i></button>
                    </td>
                    {% else %}
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 fas fa-pen"></i></button>
                    </td>
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 fas fa-hand-holding-usd"></i></button>
                    </td>
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 disabled fas fa-archive"></i></button>
                    </td>
                    {% endif %}
                {% else %}
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-pen"></i></button>
                </td>
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-hand-holding-usd"></i></button>
                </td>
                
                {% if db_user.car_sales == "yes" %}
                    <td><button class="list-item-btn"><a 
                        href=""><i 
                        class="green-text text-darken-1 fas fa-archive"></i></a></button>
                    </td>
                    {% else %}
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 fas fa-archive"></i></button>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endif %}
    
        {% if cfs.active == "yes" and cfs.sold == "no" %}
            <tr class="cars-in-stock">
                <td>{{ cfs.car_id }}</td>
                <td>{{ cfs.created }}</td>
                <td>{{ cfs.make }}</td>
                <td>{{ cfs.model}}</td>
                <td>{{ cfs.year }}</td>
                <td>{{ cfs.engine }}</td>
                <td>{{ cfs.fuel }}</td>
                {% if cfs.apk != "no" %}
                    <td>{{ cfs.apk }}</td>
                {% else %}
                    <td><i class="red-text fas fa-times"></i></td>
                {% endif %} 
                <td>{{ cfs.milage }} km</td>
                <td class="right">{{ cfs.price }} <i class="fas fa-euro-sign"></i></td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('car_details', car_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 far fa-chart-bar"></i></a></button></td>
                {% if cfs.sold == "no" %}
                    {% if db_user.car_sales == "yes" %}
                    <td><button class="list-item-btn"><a 
                        href="{{ url_for('edit_car_for_sale', edit_id=cfs._id) }}"><i 
                        class="green-text text-darken-1 fas fa-pen"></i></a></button>
                    </td>
                    <td><button class="list-item-btn"><a 
                        href="{{ url_for('mark_as_sold', car_id=cfs._id) }}"><i 
                        class="green-text text-darken-1 fas fa-hand-holding-usd"></i></a></button>
                    </td>
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 disabled fas fa-archive"></i></button>
                    </td>
                    {% else %}
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 fas fa-pen"></i></button>
                    </td>
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 fas fa-hand-holding-usd"></i></button>
                    </td>
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 disabled fas fa-archive"></i></button>
                    </td>
                    {% endif %}
                {% else %}
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-pen"></i></button>
                </td>
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-hand-holding-usd"></i></button>
                </td>
                    {% if db_user.car_sales == "yes" %}
                    <td><button class="list-item-btn"><a 
                        href=""><i 
                        class="green-text text-darken-1 fas fa-archive"></i></a></button>
                    </td>
                    {% else %}
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 fas fa-archive"></i></button>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endif %}

        {% if cfs.active == "yes" and cfs.sold == "yes" %}
            <tr class="sold-cars hidden">
                <td>{{ cfs.car_id }}</td>
                <td>{{ cfs.created }}</td>
                <td>{{ cfs.make }}</td>
                <td>{{ cfs.model}}</td>
                <td>{{ cfs.year }}</td>
                <td>{{ cfs.engine }}</td>
                <td>{{ cfs.fuel }}</td>
                {% if cfs.apk != "no" %}
                    <td>{{ cfs.apk }}</td>
                {% else %}
                    <td><i class="red-text fas fa-times"></i></td>
                {% endif %} 
                <td>{{ cfs.milage }} km</td>
                <td class="right">{{ cfs.price }} <i class="fas fa-euro-sign"></i></td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('car_details', car_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 far fa-chart-bar"></i></a></button></td>
                {% if cfs.sold == "no" %}
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('edit_car_for_sale', edit_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 fas fa-pen"></i></a></button>
                </td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('mark_as_sold', car_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 fas fa-hand-holding-usd"></i></a></button>
                </td>
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-archive"></i></button>
                </td>
                {% else %}
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-pen"></i></button>
                </td>
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-hand-holding-usd"></i></button>
                </td>
                
                {% if db_user.car_sales == "yes" %}
                    <td><button class="list-item-btn"><a 
                        href=""><i 
                        class="green-text text-darken-1 fas fa-archive"></i></a></button>
                    </td>
                    {% else %}
                    <td><button class="list-item-btn"><i 
                        class="grey-text text-darken-1 fas fa-archive"></i></button>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endif %}

        {% if cfs.active == "no" %}
            <tr class="archive hidden">
                <td>{{ cfs.car_id }}</td>
                <td>{{ cfs.created }}</td>
                <td>{{ cfs.make }}</td>
                <td>{{ cfs.model}}</td>
                <td>{{ cfs.year }}</td>
                <td>{{ cfs.engine }}</td>
                <td>{{ cfs.fuel }}</td>
                {% if cfs.apk != "no" %}
                    <td>{{ cfs.apk }}</td>
                {% else %}
                    <td><i class="red-text fas fa-times"></i></td>
                {% endif %} 
                <td>{{ cfs.milage }} km</td>
                <td class="right">{{ cfs.price }} <i class="fas fa-euro-sign"></i></td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('car_details', car_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 far fa-chart-bar"></i></a></button></td>
                {% if cfs.sold == "no" %}
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('edit_car_for_sale', edit_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 fas fa-pen"></i></a></button>
                </td>
                <td><button class="list-item-btn"><a 
                    href="{{ url_for('mark_as_sold', car_id=cfs._id) }}"><i 
                    class="green-text text-darken-1 fas fa-hand-holding-usd"></i></a></button>
                </td>
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-archive"></i></button>
                </td>
                {% else %}
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-pen"></i></button>
                </td>
                <td><button class="list-item-btn"><i 
                    class="grey-text text-darken-1 disabled fas fa-hand-holding-usd"></i></button>
                </td>
                
                <td><button class="list-item-btn"><a 
                    href=""><i 
                    class="green-text text-darken-1 fas fa-archive"></i></a></button>
                </td>
                {% endif %}
            </tr>
        {% endif %}

    {% endfor %}


{% endblock %}