<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C4Y</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" 
    integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link
        href="{{ url_for('static', filename='css/style.css') }}"
        rel="stylesheet" type="text/css"/>
</head>

<body>
  <header>
    <div class="col l3 menu-upper">
      <a href="#!" class="brand-logo">Logo</a>
    </div>
    <nav class="main-navbar">
      <div class="nav-wrapper row">
        <div class="col l7 push-l3">
          <ul class="hide-on-med-and-down">
            <li class="nav-link-li"><a class="nav-link" href="sass.html">Cars for sale</a></li>
            <li class="nav-link-li"><a class="nav-link" href="badges.html">Cars for rent</a></li>
            <li class="nav-link-li"><a class="nav-link" href="collapsible.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="col l2 push-l4 hide-on-med-and-down">
            <a href="#">Log In /</a>
            <a href="#">Sign Up</a>
        </div>
        <div id="burger-icon">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        </div>
      </div>
    </nav>
  
    <ul class="sidenav right" id="mobile-demo">
      <li class="nav-link-mobile"><a href="sass.html">Cars for sale</a></li>
      <li class="nav-link-mobile"><a href="badges.html">Cars for rent</a></li>
      <li class="nav-link-mobile"><a href="collapsible.html">Contact Us</a></li>
    </ul>
  </header>

    Base Block
  <main class="container">
    {% block content %}

    {% endblock %}
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>