{% extends "base.html" %}
{% block content %}

    <div class="title-wrapper">
        <h2 class="title">Search</h2>
    </div>
    <form class="search-form row" method="POST" acion = "{{ url_for('for_sale') }}">
        <div class="col s12 l2 offset-l1 car-make">
            <select id="make" name="make">
              <option value="not_selected" disabled selected>Make</option>
                {% for car in all_car_sale_items %}
                    <option value="{{ car.make }}">{{ car.make }}</option>
                {% endfor %}
            </select>
            <label>Materialize Select</label>
        </div>
        <div class="col s12 l2">
            <select disabled>
              <option value="" disabled selected>Model</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>
        <div class="col s12 l2">
            <select>
              <option value="" disabled selected>Fuel type</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>
        <div class="col s12 l2">
            <select>
              <option value="" disabled selected>Gearbox type</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
        </div>
        <button class="col S6 l1 btn waves-effect waves-light" type="submit" name="action">
            <i class="material-icons left">Search</i>
        </button>
    </form>

    {% block search %}
      
    {% endblock %}
    <div class="title-wrapper">
        <h2 class="title">Select</h2>
    </div>
    {% for car in car_sale_items %}
    <div class="row random-car-listing">
        <div class="col s12 m5 offset-m1">
            <img src="{{ car.picture1 }}" alt="{{ car.make + car.model }}" width="268" height="200">
        </div>
        <ul class="col s12 m3 description">
            <li class="car-for-x-make">{{ car.make }}</li>
            <li class="car-for-x-model">{{ car.model }}</li>
            <li>{{ car.year }}</li>
            <li>{{ car.engine }}</li>  
        </ul>
        <div class="col s12 m4 description">
            <p class="car-for-x-price waves-effect">{{ car.price }} EUR</p>
        </div>
    </div>
    <div class="car-item-seperator"></div>
    {% endfor %}
    
    <div class="title-wrapper">
        <a href="cars-for-sale.html"><h2 class="title">Contact Us</h2></a>
    </div>
    
{% endblock %}