{% extends "base.html" %}
{% block content %}

    <div class="title-wrapper">
        <a href="cars-for-sale.html"><h2 class="title">Cars for sale</h2></a>
    </div>
    <div class="row">
        {% for car in car_sale_items %}
        <div class="col s12 m6 l4">
            <div class="row">
                <div class="col s7">
                    <img src="{{ car.picture1 }}" alt="{{ car.make + car.model }}" width="256" height="192">
                </div>
                <ul class="col s5 description">
                    <li>{{ car.make }}</li>
                    <li>{{ car.model }}</li>
                    <li>{{ car.year }}</li>
                    <li>{{ car.fuel }}</li>
                    <li>{{ car.price }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="title-wrapper">
        <a href="cars-for-sale.html"><h2 class="title">Cars for rent</h2></a>
    </div>
    
    <div class="title-wrapper">
        <a href="cars-for-sale.html"><h2 class="title">Contact Us</h2></a>
    </div>
    
{% endblock %}